/auth-service/target/
/auth-service/.idea/
/product-service/target/
/product-service/.idea/
/libraries/entity/target/
/libraries/entity/.idea/
/libraries/util/.idea/
/libraries/util/target/
/.idea/
/.mvn/

.idea

/api-gateway/target/
/user-service/target/
