<div class="page-container">

  <div class="page-header">

    <h1>Meu Pedido</h1>

    <p>
      Revise as pizzas antes de finalizar.
    </p>

  </div>

  @if (orderBuilder.pizzas.length === 0) {

    <div class="empty-state">

      <h2>Nenhuma pizza adicionada</h2>

      <button routerLink="/pizzas">
        Montar Pizza
      </button>

    </div>

  } @else {

    <div class="pizza-list">

      @for (
        pizza of orderBuilder.pizzas;
        track $index;
        let i = $index
        ) {

        <div class="pizza-card">

          <h3>Pizza {{ i + 1 }}</h3>

          <p>Tamanho: {{ pizza.size }}</p>

          <div class="flavor-list">

            <strong>Sabores</strong>

            <ul>

              @for (
                flavor of pizza.flavors;
                track flavor.flavorOid
                ) {

                <li>{{ flavor.name }}</li>

              }

            </ul>

          </div>

        </div>

      }

    </div>

    <div class="order-footer">

      <div class="order-total">
        {{ orderBuilder.totalPrice | currency:'BRL' }}
      </div>

      <div class="actions">

        <button routerLink="/pizzas">
          Adicionar Pizza
        </button>

        <button (click)="finishOrder()">
          Finalizar Pedido
        </button>

      </div>

    </div>

  }

</div>
