<form
  class="form"
  [formGroup]="form"
  (ngSubmit)="save()">

  <div class="form-group">

    <label for="name">
      Nome
    </label>

    <input
      id="name"
      type="text"
      formControlName="name"
      placeholder="Digite o nome da categoria"
    />

    @if(form.controls.name.invalid &&
    form.controls.name.touched) {

      <small>
        Nome obrigatório
      </small>

    }

  </div>

  <button type="submit">

    @if(form.value.oid) {
      Atualizar
    } @else {
      Salvar
    }

  </button>

</form>
