<form
  class="form"
  [formGroup]="form"
  (ngSubmit)="save()">

  <div class="form-group">

    <label for="description">
      Descrição
    </label>

    <input
      id="description"
      type="text"
      formControlName="description"
      placeholder="Digite a descrição da categoria"
    />

    @if(form.controls.description.invalid &&
    form.controls.description.touched) {

      <small>
        Descrição obrigatória
      </small>

    }

  </div>

  <button type="submit">

    @if(form.value.oid) {
      Atualizar
    } @else {
      Salvar
    }

  </button>

</form>
